.myGrid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(1, 100%);
    grid-gap: 16px;
}
.myGrid > .inputGrid {
    background: hsla(0, 0%, 0%, 0.1);
}
.visualizerGrid {
    display:grid;
    align-items: center;
    justify-items: center;
    background: rgb(238,174,202);
    background: linear-gradient(0deg, rgba(238,174,202,1) 40%, rgba(148,187,233,1) 100%);
}
.inputGrid{
    display:grid;
    align-items: center;
    justify-items: center;
}
@media only screen and (max-width: 1500px){
    .myGrid{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(2, 50%);
    }
    .visualizerGrid{
        grid-row: 1;
    }
}
#inpVal, #genBtn{
    padding: 10px;
    border-style: none;
    border-radius: 5px;
}
.vizContainer{
    padding: 50px 100px;
    /*Glassmorph*/
    background: rgba( 28, 115, 157, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}